@font-face {
    font-family: hfont;
    src: url(Newake-Font-Demo.otf);
}

@font-face {
    font-family: pfont;
    src: url(Agrandir-Grand-Light-300.otf);
}

:root {
    --blocknum: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}

.entry_container {
    grid-column: 1;
    min-width: 400px;
}

.list_container {
    align-self: right;
    grid-column: 2;
    outline: solid;
    height: 100%;
    width: 100%;
}

h1 {
    margin-top: 100px;
    text-align: center;
    align-self: center;
    font-family: 'hfont';
    font-size: 80px;
    letter-spacing: 4px;
    margin-bottom: 35px;
}

.option_input {
    display: inline;
    border-radius: 15%;
    padding: 15px;
    width: 60%;
    text-align: center;
    font-family: 'pfont';
    font-size: 19px;
    letter-spacing: 1.5px;
}

.entry_button {
    text-align: center;
    height: 45px;
    font-family: 'pfont';
    font-size: 19px;
    letter-spacing: 1.5px;
    margin: auto;
    background-color: white;

}

.entry_button:hover {
    background-color: lightgray;
}

.addbox {
    align-self: center;
    width: auto;
    display: block;
    margin-left: 10%;
}

.pain {
    margin: 5px;
    font-family: 'pfont';
    font-size: 19px;
    letter-spacing: 1.5px;
    align-self: center;
    background-color: white;
}

.pain:hover {
    background-color: lightgray;
}