.option_input {
    border-radius: 20px;
    padding: 15px;
    width: 20vw;
    margin-right: 30px;
    text-align: center;
    font-family: 'pfont';
    font-size: 19px;
    letter-spacing: 1.5px;
}